.gradle/4.1/fileChanges/last-build.bin
.gradle/4.1/fileHashes/fileHashes.bin
.gradle/4.1/fileHashes/fileHashes.lock
.gradle/4.4/fileChanges/last-build.bin
.gradle/4.4/fileContent/fileContent.lock
.gradle/4.4/fileHashes/fileHashes.bin
.gradle/4.4/fileHashes/fileHashes.lock
.gradle/4.4/fileHashes/resourceHashesCache.bin
.gradle/4.4/javaCompile/classAnalysis.bin
.gradle/4.4/javaCompile/jarAnalysis.bin
.gradle/4.4/javaCompile/javaCompile.lock
.gradle/4.4/javaCompile/taskHistory.bin
.gradle/4.4/javaCompile/taskJars.bin
.gradle/4.4/taskHistory/taskHistory.bin
.gradle/4.4/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.idea/caches/build_file_checksums.ser
.idea/libraries/Gradle__android_arch_core_common_1_1_0_jar.xml
.idea/libraries/Gradle__android_arch_core_runtime_1_1_0.xml
.idea/libraries/Gradle__android_arch_lifecycle_common_1_1_0_jar.xml
.idea/libraries/Gradle__android_arch_lifecycle_livedata_core_1_1_0.xml
.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_1_0.xml
.idea/libraries/Gradle__android_arch_lifecycle_viewmodel_1_1_0.xml
.idea/libraries/Gradle__com_android_support_animated_vector_drawable_27_1_1.xml
.idea/libraries/Gradle__com_android_support_appcompat_v7_27_1_1.xml
.idea/libraries/Gradle__com_android_support_cardview_v7_27_1_1.xml
.idea/libraries/Gradle__com_android_support_recyclerview_v7_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_annotations_27_1_1_jar.xml
.idea/libraries/Gradle__com_android_support_support_compat_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_core_ui_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_core_utils_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_fragment_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_vector_drawable_27_1_1.xml
.idea/libraries/Gradle__com_android_support_test_espresso_espresso_core_3_0_2.xml
.idea/libraries/Gradle__com_android_support_test_espresso_espresso_idling_resource_3_0_2.xml
.idea/libraries/Gradle__com_android_support_test_monitor_1_0_2.xml
.idea/libraries/Gradle__com_android_support_test_runner_1_0_2.xml
.idea/libraries/Gradle__net_sf_kxml_kxml2_2_3_0_jar.xml
